*{
	font-family: "roboto", arial, sans-serif;
	box-sizing: border-box;
}
body{
	.timepicker-picker {
		// border: 1px solid red;
		// width: 100%;
		height: 240px; 
		margin: 0 80px; 
		display: inline-flex; 
		flex-direction: column;
		justify-content: center; 
	}
	.calendar {
		cursor: pointer;
	}
	.timepicker-picker table td {
	    height: 24px;
	    line-height: 24px;
	    width: 24px;
	}
	.bootstrap-datetimepicker-widget table td.separator { 
		width: 1px;
		height: 1px;
		line-height: 1px;
	} 
	.bootstrap-datetimepicker-widget .timepicker-hour,
	.bootstrap-datetimepicker-widget .timepicker-minute,
	.bootstrap-datetimepicker-widget .glyphicon-chevron-up,
	.bootstrap-datetimepicker-widget .glyphicon-chevron-down {
		width: 20px;
		height: 15px; 
		line-height: 1;
	}
	.bootstrap-datetimepicker-widget table td span:hover {
	    background: none;
	}
	/* --o-- */
	a.text-light, a.text-light{
		transition: .3s;
		color: #e7ecf1!important;
	}
	a.text-light:focus, a.text-light:hover{
		color: #fff!important;
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}
	.grid-fluid{
		width: 100%;
	}
	.bg-light{
		background: #fff!important;
	}
	.utilities{
		ul{
			li::before{
				content: "\f00c";
				color: #007bff;
				padding-right: 1em;
			}
		}
	}
	#hover-down-icon>span{
		transition: .25s;
	}
	#hover-down-icon:hover > span{
		margin-top: .7em;
	}
	.utilities-other ul li{
		transition: .3s;
	}
	.utilities-other ul li:hover{
		& .img img{
		    opacity: 0;
		}
		& .img .hover{
		    -webkit-transform: scale(1);
		    -ms-transform: scale(1);
		    transform: scale(1);
		    opacity: 1;
		}
	}
	form .text-center .btn-submit{
		transition: .5s;
	}
	form .text-center .btn-submit:hover{
		&::before{
			width: 100%;
		}
	}
	form .text-center .btn-submit::before{
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background-color: #0069d9;
		transition: width .5s;
	}
	.margin-navtop{
		margin-top: 3.85em;
	}
	.disabled-underline{
		text-decoration: none;
	}
	.zalo-icon{
		width: 1.29em;
		border: 1px solid #fff;
		border-radius: .25em;
	}
	.fa-phone{
		padding-top: 7px;
	}
	.fa-facebook{
		font-size: 27px;
		padding-top: 2px;
	}
	.gotop{
		border: 1px solid #fff;
		padding: 1em;
		z-index: 100000;
		position: fixed;
		right: 2em;
		bottom: 7em;
		&::before{
			color: #fff;
			content: "\f077"
		}
	}
	#backgroundCC{
	}
}